<% provide(:title, 'О нас') %>
<!DOCTYPE html>
<html>
  <head>
    <title>FFSDataBase | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Информация</h1>
    <p>
      Для чего данное приложение
    </p>
  </body>
</html>
